*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    height: 500vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a{
    color: #0066B1;
}

 header i{
    font-size: 30px;
    color: #fff;
 }

 header ul{
    list-style-type: none;
 }

 header ul li{
    display: inline-block;
    margin: 0 40px;
 }

 header ul li a{
    color: #fff;
    text-decoration: none;
 }

 .btn-compra button{
    width: 150px;
    height: 60px;
    font-size: 16px;
    border: 0;
    background-color: #0066B1;
    color: #fff;
    cursor: pointer;
    transition: .2s;
 }

 .banner{
    height: 85vh;
    background-image: url(imgs/yamaharr1wall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
 }

 .banner h1{
    font-size: 8em;
    margin-top: 150px;
    margin-right: 1200px;
    color: #fff;
 }


 #SLOGAN{
    font-family: 'Odibee Sans', cursive;
    text-align: center;
    margin-top: 30px;
    font-size: 80px;
 }

 #fotos{
   display: flex;
   justify-content: center;
   gap: 150px;
   margin-top: 80px;
 }

 .HISTORIA h2{
   font-family: 'Odibee Sans', cursive;
   font-size: 64px;
   margin-left: 200px;
   margin-top: 100px;
 }

 .HISTORIA p{
   margin: 20px 200px;
   font-size: 24px;
 }

 .Evolucao h2{
   font-family: 'Odibee Sans', cursive;
   font-size: 40px;
   margin-left: 200px;
   margin-top: 70px;
 }

 .Evolucao p{
   margin: 20px 200px;
   font-size: 24px;
 }

 .divisoria{
   border: none;
    height: 20px;
    background-color: black;
    width: 80%;
    margin: 40px auto;
 }

 .Espeficacao h2{
   font-family: 'Odibee Sans', cursive;
   font-size: 64px;
   margin-left: 200px;
   margin-top: 70px;
 }

 .Espeficacao p{
   margin: 20px 200px;
   font-size: 24px;
 }

 .infos {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2px; 
   max-width: 1000px;
   margin: 50px auto;
  
   padding: 20px;
}

.caixa {
   padding: 10px;
}

#li{
   border-right: 7px solid black;
   height: 90%;
}

#lin{
   border-right: 7px solid black;
   height: 90%;
}

.caixa h2 {
   font-family: 'Odibee Sans', cursive;
   font-size: 40px;
   margin-bottom: 10px;
}

.caixa p {
   font-size: 20px;
   line-height: 1.5;
}

.wallfundo{
   width: 100%;
   margin-top: 50px;
}

.buy{
   margin-top: 50px;
}


.buy h2{
   font-family: 'Odibee Sans', cursive;
   font-size: 70px;
   margin-top: 400px;
   margin: auto;
   display: flex;
   justify-content: center;
}

.buy p{
   font-size: 40px;
   line-height: 1.5;
   display: flex;
   justify-content: center;
}

iframe{
   display: block;
   margin: 20px auto;
   width: 80%;
   max-width: 700px;
   height: 400px;
   border: none;
   border-radius: 10px; 
   box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#btn-video{
   margin: auto;
   display: block;
   align-items: center;
   justify-content: center;
}

.container {
   text-align: center;
   margin-top: 30px;
}

.container-footer{
   max-width: 1170px;
   margin: auto;
}

.row{
   display: flex;
   flex-wrap: wrap;
}

ul{
   list-style: none;
}

.footer{
   background-color: #000;
   padding: 70px 0;
   font-family: 'Poppins', sans-serif;
   margin-top: 100px;
}

.footer-col{
   width: 20%;
   padding: 0 15px;
}

.footer-col h4{
   font-size: 18px;
   color: #fff;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
}

.footer-col h4::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: #0024a5;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
}

.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}

.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color:#fff;
   text-decoration: none;
   font-weight: 300;
   color: #bbb;
   display: block;
   transition: all 0.3s ease;
}

.footer-col ul li a:hover{
   color: #fff;
   padding-left: 8px;
}

.footer-col .social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255, 255, 255, 0.2);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #fff;
   transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
   color: #24262b;
   background-color: #ffffff;
}

@media(max-width: 767px){
   .footer-col{
       width: 50%;
       margin-bottom: 30px;
   }
}

@media(max-width: 574px){
   .footer-col{
       width: 100%;
   }
}